<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Plantation area</th>
      <th>Plant specie</th>
      <th>Plants number</th>
      <th>Plants row spacing</th>
      <th>Plants column spacing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.plantation_area %></td>
        <td><%= property.plant_specie %></td>
        <td><%= property.plants_number %></td>
        <td><%= property.plants_row_spacing %></td>
        <td><%= property.plants_column_spacing %></td>
        <td><%= link_to 'Show', [@contact, property] %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_contact_property_path([@contact, property]) %></td>
          <td><%= link_to 'Destroy', [@contact, @property], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.admin? %>
  <%= link_to 'New Property', new_contact_property_path %>
<% end %>
