<%= form_for @contact do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :contact_type %>
    <%= form.select :contact_type, Contact::CONTACT_OPTIONS %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  # PROPERTIES

  <%# <%= form.fields_for :properties do |property| %>
    <%# <%= render 'property_fields', property: property %>
  <%# <% end %>
  <%# <% link_to_add_fields "Add a property", form, :properties %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
