<div class="field">
  <%= property.label :name %>
  <%= property.text_field :name %>
</div>

<div class="field">
  <%= property.label :plantation_area %>
  <%= property.number_field :plantation_area %>
</div>

<div class="field">
  <%= property.label :plant_specie %>
  <%= property.text_field :plant_specie %>
</div>

<div class="field">
  <%= property.label :plants_number %>
  <%= property.number_field :plants_number %>
</div>

<div class="field">
  <%= property.label :plants_row_spacing %>
  <%= property.number_field :plants_row_spacing %>
</div>

<div class="field">
  <%= property.label :plants_column_spacing %>
  <%= property.number_field :plants_column_spacing %>
</div>