<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Contact Type:</strong>
  <%= @contact.contact_type %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<% if @contact.is_provider? %>
  <p>
    <strong>Available Properties:
      <%= @contact.properties.count %>
    </strong>
  </p>

  <% @contact.properties.each do |p| %>
    <li><%= p.name %></li>
    <li><%= p.plantation_area %></li>
    <li><%= p.plant_specie %></li>
    <li><%= p.plants_number %></li>
    <li><%= p.plants_row_spacing %></li>
    <li><%= p.plants_column_spacing %></li>
    <%= link_to 'Edit', edit_contact_property_path([@contact, @property]) %> |
    <%= link_to 'Destroy', [@contact, @property], method: :delete %>
  <% end %>
<% end %>

<br>

<%= link_to 'New Property', new_contact_property_path(@contact) %>

<br>
<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
